* {
	font-family: 'Roboto', sans-serif;
}

.container {
	text-align: center;
}
.content {
	padding-top: 120px;
	padding-bottom: 120px;
	padding-left: 250px; 
	padding-right: 250px;
	display: inline-block;
}

h1 {
	font-weight: 700;
	font-size: 90px;
	line-height: 0;
}
p {
	font-weight: 400;
	line-height: 1.5;
}
a {
	color: #797D7F;
	text-decoration: none;
}
a:hover {
  	color: black;
	text-decoration: none;
}
a:hover img {
	opacity: 0.5;
}
img {
	cursor: pointer;
}
.logo {
	display: inline-block;
}
.logo:hover {
	opacity: 0.3;
	filter: alpha(opacity=30);
}
